body
{
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
   overflow-x: hidden;
}
body:after
{
   background-color: #FFFFFF;
   content: "";
   height: 100vh;
   left: 0;
   position: fixed;
   right: 0;
   top: 0;
   z-index: -1;
}
.visibility-hidden
{
   visibility: hidden;
}
#preloader
{
   background: #FFFFFF url("../images/Ракета.gif") no-repeat center center;
   bottom: 0;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: 99999;
}
#wb_header
{
   clear: both;
   position: -webkit-sticky;
   position: sticky;
   top: 0;
   z-index: 7776;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
   animation: animate-fade-in-down 1000ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 0ms 1 normal both;
}
#header
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 10px 0 10px 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1024px;
}
#header > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#header
{
   width: 970px;
}
#header > .col-1
{
   flex: 0 0 auto;
}
#header > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 100%;
   max-width: 100%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: center;
   text-align: center;
}
@media (max-width: 320px)
{
#header
{
   width: 100%;
}
#header > .col-1
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_LayoutGrid8
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: url('../images/Без названия.png');
   background-repeat: repeat;
   background-position: left top;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
   animation: background-position-top-left 30000ms linear 0ms infinite normal both, pop 1000ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 0ms 1 reverse both;
}
#LayoutGrid8
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 100px 0 100px 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#LayoutGrid8 > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid8 > .col-1
{
   flex: 0 0 auto;
}
#LayoutGrid8 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 100%;
   max-width: 100%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: center;
   text-align: center;
}
#LayoutGrid8 > .col-1 > .col-1-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 10px 0 10px 0;
}
@media (max-width: 480px)
{
#LayoutGrid8 > .col-1
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_services
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#services
{
   box-sizing: border-box;
   padding: 0 10px 0 10px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#services > .row
{
   margin-right: -10px;
   margin-left: -10px;
}
#services > .row > .col-1, #services > .row > .col-2, #services > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 10px;
   padding-left: 10px;
   position: relative;
}
#services > .row > .col-1, #services > .row > .col-2, #services > .row > .col-3
{
   float: left;
}
#services > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: center;
}
#services > .row > .col-1 > .col-1-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 50px 0 50px 0;
}
#services > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: center;
}
#services > .row > .col-2 > .col-2-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 50px 0 50px 0;
}
#services > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: center;
}
#services > .row > .col-3 > .col-3-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 50px 0 50px 0;
}
#services:before,
#services:after,
#services .row:before,
#services .row:after
{
   display: table;
   content: " ";
}
#services:after,
#services .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#services > .row > .col-1, #services > .row > .col-2, #services > .row > .col-3
{
   float: none;
   width: 100% !important;
}
}
#wb_MegaMenu1
{
   z-index: 1111 !important;
}
#MegaMenu1
{
   font-size: 0;
   list-style: none;
   margin: 0;
   padding: 0;
   margin: 0;
   text-align: center;
}
#MegaMenu1
{
   font-family: "MS Sans Serif";
   font-weight: normal;
   font-size: 15px;
}
#MegaMenu1 li
{
   display: inline-block;
   margin: 0;
   padding: 0;
   position: relative;
}
#MegaMenu1 li a
{
   float: left;
}
#MegaMenu1 li .submenu
{
   display: none;
   float: left;
   right: 0;
   padding: 15px 15px 15px 15px;
   position: absolute;
   text-align: left;
   top: 0;
   z-index: 9999;
}
#MegaMenu1 li .row
{
   clear: both;
   float: left;
   margin-bottom: 10px;
   width: 100%;
}
#MegaMenu1 li .submenu ul
{
   float: left;
   list-style: none;
   margin: 0;
   padding: 0;
}
#MegaMenu1 .submenu ul li
{
   width: 100%;
}
#MegaMenu1 .submenu ul li h2
{
   font-family: "MS Sans Serif";
   font-weight: bold;
   font-size: 15px;
   font-style: normal;
   margin: 0;
   padding: 0;
   text-decoration: none;
}
#MegaMenu1 .submenu ul li h2
{
   background-image: none;
   background-color: transparent;
   border-width: 0;
   color: #FFA500;
   display: block;
   font-weight: bold;
   font-style: normal;
   padding: 8px 0;
   text-decoration: none;
}
#MegaMenu1 .submenu ul li h2 a:hover
{
   padding: 8px 0;
}
#MegaMenu1 .submenu ul li a
{
   display: block;
   float: none;
   font-weight: normal;
   font-style: normal;
   height: auto;
   padding: 9px 5px 9px 21px;
   text-decoration: none;
   text-indent: 0;
   white-space: nowrap;
}
#MegaMenu1 .submenu ul li a:hover
{
   border-style: solid;
   border-width: 1px;
   padding: 8px 4px 8px 20px;
}
#MegaMenu1 .button
{
   cursor: pointer;
   font-weight: bold;
   font-style: normal;
   margin: 0 1px 0 0;
   outline: 0;
   padding: 6px 20px 6px 10px;
   position: relative;
   text-align: center;
   text-decoration: none;
   color: #FFA500;
}
#MegaMenu1 .button:hover
{
   color: #FFA500;
}
#MegaMenu1 .button:active
{
   color: #FFA500;
}
#MegaMenu1 .ui-widget-content a
{
   color: #FFA500;
}
#MegaMenu1 .ui-widget-content a:hover
{
   color: #FFA500;
}
#MegaMenu1 .ui-state-default
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #FFFFFF;
   color: #FFA500;
}
#MegaMenu1 .ui-state-hover
{
   background-color: rgba(255,165,0,0.14);
   background-image: none;
   border-color: #FFFFFF;
   color: #FFA500;
}
#MegaMenu1 .ui-widget-content
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #FFFFFF;
   color: #FFA500;
}
#MegaMenu1 li i
{
   font-size: 16px;
   width: 18px;
}
#MegaMenu1 .arrow
{
   margin-top: -8px;
   margin-left: 0;
   position: absolute;
   right: 4px;
   top: 50%;
   display: block;
   overflow: hidden;
   width: 16px;
   height: 16px;
}
#MegaMenu1 .bullet, #MegaMenu1 .icon
{
   left: 0px;
   margin-top: -8px;
   position: absolute;
   top: 50%;
   display: block;
   overflow: hidden;
   width: 16px;
   height: 16px;
}
#$ID$ .paper-plane:before
{
   content: "\f1d8";
}
#$ID$ .file:before
{
   content: "\f15b";
}
#$ID$ .user-o:before
{
   content: "\f2c0";
}
#MegaMenu1-hamburger
{
   background: #FFFFFF;
   border: 1px solid #FFFFFF;
   cursor: pointer;
   display: none;
   padding: 5px 12px 6px 12px;
}
#MegaMenu1-hamburger .line
{
   width: 24px;
   height: 4px;
   background: #FFA500;
   display: block;
   margin: 4px auto;
}
#MegaMenu1-close
{
   display: none;
}
@media all and (max-width:600px) 
{
#MegaMenu1-hamburger
{
   display: inline-block;
}
#MegaMenu1 > li
{
   width: 100%;
}
#MegaMenu1 > li > a
{
   display: none;
}
#MegaMenu1-nav{
   display: none;
   height: 100% !important;
   left: 0 !important;
   overflow-y: auto;
   position: fixed !important;
   top: 0 !important;
   width: 100% !important;
   z-index: 9998;
}
#MegaMenu1{
   height: 100% !important;
   width: 100% !important;
}
#MegaMenu1 > li > div
{
   box-sizing: border-box;
   border-width: 0 0 1px 0 !important;
   display: inline-block !important;
   float: none;
   position: static !important;
   width: 100% !important;
}
#MegaMenu1 li .submenu ul, #MegaMenu1 li .submenu ul li
{
   width: 100% !important;
}
#MegaMenu1 .nav-link
{
 box-sizing: border-box;
 display: inline-block !important;
 float: none;
   padding: 9px 5px 9px 21px;
 position: static !important;
   text-align: left;
 width: 100% !important;
}
#MegaMenu1 .nav-link:not(.ui-state-hover)
{
   border-color: transparent;
}
#MegaMenu1-close
{
   display: block;
   left: 0;
   pointer-events: none;
   position: fixed;
   text-align: right;
   top: 0;
   width: 100%;
   z-index: 9999;
}
#MegaMenu1-close a
{
   color: #FFA500;
   display: inline-block;
   font-size: 24px;
   font-weight: bold;
   padding: 10px 40px 10px 10px;
   pointer-events: all;
   text-decoration: none;
}
#wb_MegaMenu1.open
{
   z-index: 9998 !important
}
#wb_MegaMenu1.open #MegaMenu1-nav
{
   display: block !important;
}
.overflow-no-scroll
{
   overflow: hidden !important;
}
}
#wb_Image1
{
   margin: 0;
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   animation: fall 1000ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 0ms 1 normal both;
   display: block;
   width: 100%;
   height: auto;
   max-width: 600px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid1
{
   box-sizing: border-box;
   padding: 0 10px 0 10px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#LayoutGrid1 > .row
{
   margin-right: -10px;
   margin-left: -10px;
}
#LayoutGrid1 > .row > .col-1, #LayoutGrid1 > .row > .col-2, #LayoutGrid1 > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 10px;
   padding-left: 10px;
   position: relative;
}
#LayoutGrid1 > .row > .col-1, #LayoutGrid1 > .row > .col-2, #LayoutGrid1 > .row > .col-3
{
   float: left;
}
#LayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: center;
}
#LayoutGrid1 > .row > .col-1 > .col-1-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 50px 0 50px 0;
}
#LayoutGrid1 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: center;
}
#LayoutGrid1 > .row > .col-2 > .col-2-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 50px 0 50px 0;
}
#LayoutGrid1 > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: center;
}
#LayoutGrid1 > .row > .col-3 > .col-3-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 50px 0 50px 0;
}
#LayoutGrid1:before,
#LayoutGrid1:after,
#LayoutGrid1 .row:before,
#LayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid1:after,
#LayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid1 > .row > .col-1, #LayoutGrid1 > .row > .col-2, #LayoutGrid1 > .row > .col-3
{
   float: none;
   width: 100% !important;
}
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_Text1
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#wb_Text2
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#wb_Text3
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text4 div
{
   text-align: left;
}
#wb_Text4
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text5 div
{
   text-align: left;
}
#wb_Text5
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFA500;
   border-radius: 12px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text6 div
{
   text-align: left;
}
#wb_Text6
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_Image2
{
   margin: 0;
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   display: inline-block;
   width: 104px;
   height: 104px;
   vertical-align: top;
}
#Image2, #wb_Image2:hover
{
   margin-top: -5px;
   transition: margin-top 500ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 0ms;
}
#Image2, #wb_Image2
{
   transition: all 500ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 0ms;
}
